.password-container {
    position: relative;
}

.toggle-password {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}

/* Center the form on the page */
.center-container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}